body {
  margin: 0;
  padding: 0;
  color: #2f2f2f;
  background: #f4f5f6;
}
@font-face{
  font-family: MyriadProBoldCond;
  src: url("MyriadProBoldCond.otf") format("opentype"));
}
@font-face {
  font-family: GothaProBla;
  src: url("GothaProBla.otf") format("opentype");
}
html,
button,
input,
select,
textarea,div,p,i,span,li,ul, ol,strong {
  color: #2f2f2f;
  font-family: 'Segoe UI', Tahoma, sans-serif!important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  color: #2f2f2f;
  font-family: 'Segoe UI', Georgia, serif!important;;
  line-height: 1.3;
}
ul, ul li {
  margin: 0;
  padding: 0;
}
a,a:hover,a:active {
text-decoration: none;
}
.content
{
  width: 960px;
  margin: 30px auto 0; 
  padding: 0;
}
.material-design {
  position: relative;
}
.material-design canvas {
  opacity: 0.02;
  position: absolute;
  top: 0;
  left: 0;
}
.clr {
  margin: 40px;
}
.blocks
{
  -webkit-box-shadow: 8px 8px 27px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: 8px 8px 27px 0px rgba(0,0,0,0.35);
  box-shadow: 8px 8px 27px 0px rgba(0,0,0,0.35);
  background: #ffffff;
}
/*            Header  */
.header_2, .header_1
{
  width: 100%;
}
.header_1
{
  margin: 0 auto 0;
  text-align: center;
  padding: 22px 0;
  background: #93c325;

}
.header_1_1
{
  font-weight: 800;
  font-size: 60px;
  padding: 0px;
  position: relative;
  width: 385px;
  text-transform: uppercase;
  color: #2f2f2f;
  background: #84b422;
  text-align: left;
  height: 81px;
  margin: 0 auto 0;
}
.header_1_1 a
{
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 7px;
  color: #2f2f2f;
  cursor: pointer;
}
.header_1_1 img {
  display: inline-block;
  width: 81px;
}
.header_2
{
  background: #84b422;
  width: 100%;
  -webkit-box-shadow: 0px 13px 23px -7px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 13px 23px -7px rgba(0,0,0,0.35);
  box-shadow: 0px 13px 23px -7px rgba(0,0,0,0.35);
}
.header_2_mobile_menu
{
  display: none;
}
.header_2 ul
{
  margin: 0 auto 0;
  width: 960px;
}
.header_2 ul li a
{
 color: #c4d9a3; 
}
.header_2 ul li a:hover,
.header_2 ul .active a
{
  color: white;
  border-bottom: 3px solid #b22d12;
  padding: 10px 0 10px 0;
}
.header_2 ul li
{
  list-style: none;
  display: inline-block;
  color: #c4d9a3;
  font-size: 18px;
  font-family: 'Segoe UI';
  padding: 10px 0 13px 0;
  text-transform: uppercase;
  margin: 0 73px -4px 0;
}
.header_2 ul li:last-child
{
 margin: 0 0 -4px 0;
}

/*          END OF HEADER     */
/*          CONTENT           */
.content_l
{
  width: 645px;
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: top;
}
.content_r
{
  display: inline-block;
  margin: 0 0 0 15px;
  padding: 0;
  vertical-align: top;
  width: 295px;
}
/*        SIDEBAR         */
.cnt_r_best
{
  margin: 0 0 35px 0;
}
.cnt_r_best_1
{
  color: #2f2f2f;
  background: #93c325;
  width: 100%;
  font-weight: 800;
  font-size: 18px;
  text-align: center;
  padding: 7px 0 8px 0;
}
.cnt_r_best_2 div
{
  display: inline-block;
  position: relative;
  width: 50%;
  background: #84b422;
  color: #c4d9a3;
  padding: 10px 0 9px 0;
  cursor: pointer;
  margin: 0px -4px -5px 0;
  text-align: center;
  font-size: 12px;
  border-bottom: 3px solid white;
}
.activeNone
{
 border-bottom: 3px solid white!important; 
 color: #c4d9a3!important;
}
.cnt_r_best_2 div:hover, .cnt_r_best_2 div.active, .active2
{
  color: white;
  border-bottom: 3px solid #b22d12;
}
.cnt_r_best_2
{
  width: 100%;
  background: #84b422;
}
.cnt_r_best_3
{
  width: 295px;
  background: #dddddd;
}
.cnt_r_best_3_1
{
  background: white;
  margin: 0 0 3px 0;
}
.cnt_r_best_3_1_1
{
  font-size: 12px;
  margin: 0 auto 0;
  padding: 9px 0;
  font-weight: 600;
  width: 270px;
  text-align: center;
  font-size: 12px;
}
.cnt_r_best_3_1_2
{
  padding: 0 0 8px 0;
  text-align: center;
}
.cnt_r_best_3_1_2_i {
  margin: 3px 0 -3px 0;
}
.cnt_r_best_3_1_2_i, .cnt_r_best_3_1_2_t
{
  display: inline-block;
  padding: 2px;
  font-size: 10px;
  color: #dddddd;
}
.cnt_r_comments
{
  display: none;
}
/*        sidebar TOP */

.cnt_r_top
{
  margin: 0 0 35px 0;
}
.cnt_r_top_1
{
  color: #2f2f2f;
  background: #93c325;
  width: 100%;
  font-weight: 800;
  font-size: 18px;
  text-align: center;
  padding: 7px 0 8px 0;
}
.cnt_r_top_3
{
  width: 100%;
  background: #dddddd;
}
.cnt_r_top_3_1
{
  background: white;
  margin: 0 0 3px 0;
  cursor: pointer;
}
.cnt_r_top_3_1_1, .cnt_r_top_3_1_2, .cnt_r_top_3_1_3
{
  display: inline-block;

}
.cnt_r_top_3_1_1 {
  margin: 15px 5px 15px 15px;
}
.cnt_r_top_3_1_1 img
{
  border-radius: 100%;
  height: 55px;
  width: 55px;
}
.cnt_r_top_3_1_2_t
{
  font-size: 14px;
  margin: 0px 0 5px 0;
  text-align: left;
}
.cnt_r_top_3_1_2_i img
{
  display: inline-block;
  text-align: left;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  margin: 0 10px 0 0;
}
.cnt_r_top_3_1_3
{
  color: #c2c2c2;
  float: right;
  margin: 33px 7px 0 0px;
}
.cnt_r_top_3_1_3 img
{

}

/*        sidebar PART */
.cnt_r_part
{
  margin: 0 0 35px 0;
}
.cnt_r_part_1
{
  color: #2f2f2f;
  background: #93c325;
  width: 100%;
  font-weight: 800;
  font-size: 18px;
  text-align: center;
  padding: 7px 0 8px 0;
}
.cnt_r_part_3
{
  width: 100%;
  background: white;
}
.cnt_r_part_3 div
{
  width: 255px;
  text-align: center;
  font-size: 14px;
  margin: 0 auto 0;
  padding: 17px 0;
}
.cnt_r_part_3 a 
{
  background: #93c325;
  color: white;
  position: relative;
  padding: 15px 40px;
  margin: 0 0px 19px 48px;
  font-size: 14px;
  font-weight: 800;
  text-align: center;
  display: inline-block;
}
.cnt_r_part_3_clr
{
 margin: 0px; 
 padding: 0;
}
/*               FOOTER     */
.footer_1
{
  background: #636363;
  width: 100%;
  font-size: 14px;
  text-align: center;

}
.footer_1>div
{
  width: 960px;
  margin: 20px auto 0;
  padding: 20px 0 0 0;
}
.footer_1 header
{
  color: white;
}
.footer_1_1, .footer_1_2
{
  display: inline-block;
}
.footer_1_1 li
{
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  margin: 0 75px 0 0;
}
.footer_1_1 li:last-child
{
  margin: 0;
}
.footer_1_2 li
{
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 40px;
}
.footer_1_2 li img
{
  height: 24px;
  width: 24px;
  margin: 2px 0 -2px 0;
}
.footer_1 footer
{
  color: #b2b1b1;
  padding: 30px 0 15px 0;
}

.footer_button img
{
  background: #93c325;
  border-radius: 100%;
  padding: 9px;
  height: 17px;
}
.footer_button
{
  margin: -40px 0 0 0px;
  text-align: right;
  position: absolute;
  right: 30%;
}