@import url(http://fonts.googleapis.com/css?family=Roboto:400,500);
.ripplelink
{
  cursor: pointer;
}

.content_post
{
  margin: 0 0 50px 0;
}
.posts_width
{
  /*width: 520px;*/
  width: 90%;
  margin: 0 auto 30px;
}
.posts_width img {
  max-width: 100%;
}
.post_div
{
  width: 100%;
  margin: 0 auto 0;
  position: relative;
  color: #244549;
  position: relative;
  background: white;
  overflow: hidden;
  text-shadow: none;
  transition: all .3s ease-out;
}

.google-expando__icon
{
  width: 100%;
}
.p_1
{
  font-size: 24px;
  font-weight: 800;
  margin: 16px;
  text-align: center;
}
.p_2
{

}
.p_3
{

}
.p_3_1 img
{
  width: 100%

}
.p_3_2
{
  font-size: 14px;
  text-align: center;
  margin: 10px 0 0 0;
}

/*      AUTHOR*/
.p_2_1, .p_2_3
{
  padding: 0;
  margin: 0 0px;
  display: inline-block;
  width: 45%;
}
.p_2_3 {
  margin: 0 0 0 1px;
}
.p_2_1_1, .p_2_3_1, .p_2_1_3_t, .p_2_3_3_t
{
  color: #c2c2c2;
  font-size: 11px;
}
.p_2_1_3, .p_2_1_1
{
  text-align: right;
  margin: 11px 6px 1px 0;
}
.p_2_3_3, .p_2_3_1
{
  text-align: left;
  margin: 11px 0px 1px 4px;
}
.p_2_1_2, .p_2_3_2
{
  height: 3px;
  width: 100%;
  background: #c2c2c2;
}
.p_2_1_3_t, .p_2_1_3_i, .p_2_3_3_t, .p_2_3_3_i
{
  display: inline-block;
  vertical-align: top;
  margin: -7px 0 0 0;
  font-size: 9px;
}
.p_2_1_3_t,  .p_2_3_3_t {
margin: -8px 0 0 0;
}
.p_2_2
{
  width: 55px;
  padding: 0;
  margin: 0px -5px 0 -4px;
  vertical-align: top;
  display: inline-block;
  height: 55px;
}
.p_2_2 img
{
  width: 55px;
  height: 55px;
  border-radius: 100%;
}
.cool_effect
{
  position: relative;
  cursor: pointer;
}
.p_all
{
 
}
.p_3_3
{

}
.p_3_3_share_1,.p_3_3_share_2
{
  text-align: center;
  font-size: 16px;
  color: #e3e3e3;
  margin: 7px 0;
}
.p_3_3_share_2 img
{
  height: 24px;
  width: 24px;
  margin: 2px 5px -2px 5px;
}
/*      OTHERS        */

.recomendation
{
  font-size: 24px;
  text-align: center;
  padding: 10px 0;
  text-transform: uppercase;
}
.recomendation_block,.recomendation_block2
{
  width: 313px;
  display: inline-block;
  margin: 0 10px 10px 0px;
}
.recomendation_block2
{
 margin: 0 0px 10px 0px; 
}
.recomendation_block figure img, .recomendation_block2 figure img
{
  width: 290px;
  padding: 10px;
}
.recomendation_block figure figcaption,.recomendation_block2 figure figcaption
{
  font-size: 12px;
  font-weight: 800;
  padding: 0 10px 10px 10px;
  text-align: center;
}
.recomendation_block {
  vertical-align: top;
}
figure 
{
  margin: 0;
}
/*        BUTTON    */
.rotate180
{
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.p_5
{
  margin: -16px 0 0 0px;
  text-align: center;
  position: relative;
  z-index: 15;
}
.p_5 img
{
  background: #93c325;
  border-radius: 100%;
  padding: 9px;
  height: 17px;
}

.content_l_moreposts
{
  background: #93c325;
  width: 210px;
  text-align: center;
  margin: 0 auto 0;
  color: white;
  font-weight: 800;
  padding: 12px 0;
  -webkit-box-shadow: -8px 8px 27px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: -8px 8px 27px 0px rgba(0,0,0,0.35);
  box-shadow: -8px 8px 27px 0px rgba(0,0,0,0.35);
}


/*        OTHER PAGE        */

li.tab-community
{
  display: none;
}
div#footer {
  display: none;
}
