body {
  margin: 0;
  padding: 0;
  color: #2f2f2f;
  background: #f4f5f6;
}
@font-face{
  font-family: MyriadProBoldCond;
  src: url("MyriadProBoldCond.otf") format("opentype"));
}
html,
button,
input,
select,
textarea,div,p,i {
  color: #2f2f2f;
  font-family: 'Segoe UI', Tahoma, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  color: #2f2f2f;
  font-family: 'Segoe UI', Tahoma, sans-serif;
  line-height: 1.3;
}
ul, ul li {
  margin: 0;
  padding: 0;
}
a,a:hover,a:active {
text-decoration: none;
}
.content
{
  width: 1100px;
  margin: 30px auto 0; 
  padding: 0;
}
.clr40 {
  margin: 40px;
}
.clr34
{
  margin: 34px;
  display: inline-block;
}
.clr30 {
  margin: 30px;
}
.clr20 {
  margin: 20px;
}
.blocks
{
  -webkit-box-shadow: -8px 8px 27px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: -8px 8px 27px 0px rgba(0,0,0,0.35);
  box-shadow: -8px 8px 27px 0px rgba(0,0,0,0.35);
  background: #ffffff;
}
/*            Header  */
.header_1_1, .header_1_2, .header_1_3
{
  display: inline-block;
  margin: 0;
  padding: 0;
}
.header_2, .header_1
{
  width: 100%;
}
.header_1
{
  margin: 0 auto 0;
  padding: 22px 0;
  background: #93c325;
}
.header_1 .content
{
  margin: 0 auto 0;
}
.header_1_1
{
  font-weight: 800;
  font-size: 48px;
  padding: 0px;
  position: relative;
  width: 240px;
  height: 70px;
  text-transform: uppercase;
  color: #2f2f2f;
  background: #84b422;
  -webkit-box-shadow: -8px 8px 27px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: -8px 8px 27px 0px rgba(0,0,0,0.35);
  box-shadow: -8px 8px 27px 0px rgba(0,0,0,0.35);
  text-align: center;
}
.header_1_1 a
{
  color: #2f2f2f;
  cursor: pointer;
}
.header_1_2
{
  width: 545px;
  margin: 0 90px;
}
.header_1_2_text,.header_1_2_author
{
  font-size: 18px;
  text-align: center;
}
.header_1_2_text
{
  color: #ffffff;
}
.header_1_2_author
{
  font-weight: 800;
  color: black;
}
.header_1_3 {
  float: right;
}
.header_1_3_photo
{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
/*          END OF HEADER     */
/*          CONTENT           */
.content_header_text
{
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  width: 100%;
  padding: 10px 0;
}
.content_1
{
  width: 315px;
  height: 275px;
  margin: 0;
  vertical-align: top;
  padding: 0;
  display: inline-block;
}
.content_1_header
{
  font-size: 18px;
  width: 100%;
  background: #93c325;
  color: #202a08;
  padding: 18px 0;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}
.content_1_header_new
{
  color: red;
  display: inline-block;
}
.content_1_footer
{
  background: white;
  text-align: center;
  height: 215px;
  width: 100%;
}
.content_1_footer img
{
  padding: 30px;
}
.content_1_footer_1
{
  display: inline-block;
  margin: 50px 0;
}
.content_1_footer_1_n,.content_1_footer_1_t
{
  font-size: 24px;
  text-transform: uppercase;  
}
.content_1_footer_1_n
{
  text-align: right;
  margin: 0 15px;
  color: #189aca;
}
.content_1_footer_1_t
{
  text-align: left;
  color: #93c325;
}
/*      content table       */
.content_table table
{
  border-collapse: collapse;
  border-style: hidden;
}
.content_table table th
{
  border: 2px solid white;
}
.content_table table td {
    border: 2px solid #b6c1cb;
}
.content_table table tr th 
{
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  color: white;
  background: #93c325;
  padding: 15px 0;
}
.content_table table tr td
{
  font-size: 14px;
  padding: 10px 5px;
  text-align: center;
}
.content_table table tr:hover
{
  background: #F5F5F5;
}
.content_table table tr th:nth-child(1)
{
  width: 109px;
}
.content_table table tr td:nth-child(2)
{
  width: 390px;

  text-align: left;
}
.content_table table tr th:nth-child(3),.content_table table tr th:nth-child(4), .content_table table tr th:nth-child(5)
{
  width: 198px;
}