@media only screen and (min-width: 751px) and (max-width: 900px){
  body 
  {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #2f2f2f;
    background: #f4f5f6;
  }

  .content
  {
    width: 100%;
    margin: 30px auto 0; 
    padding: 0;
  }
  .content_l 
  {
    width: 80%;
    display: block;
    margin: 0 auto 0;
    padding: 0;
    vertical-align: top;
  }
  .posts_width {
    width: 90%;
    margin: 0 auto 30px;
  }
  .recomendation_all
  {
    text-align: center;
  }
  .content_r 
  {
    display: block;
    margin: 0 auto 0;
    padding: 0;
    vertical-align: top;
    width: 70%;
  }
  .cnt_r_part_3_clr
  {
   padding: 10px;
  }
  .footer_1_1, .footer_1_2 
  {
    display: block;
  }
  /*    HEADER        */

  .header_2 ul {
    margin: 0 auto 0;
    display: none;
    width: 100%;
  }

  .header_2 ul li, .header_2 ul li:last-child
  {
    list-style: none;
    display: block;
    color: #c4d9a3;
    font-size: 18px;
    font-family: 'Open Sans';
    padding: 8px 0 13px 20px;
    text-transform: uppercase;
    margin: 0;
  }


  .header_2_mobile_menu{ 
      display: block;
      padding: 0 0 0 0;
      cursor: pointer;
  }
  .header_2_mobile_menu img
  {
      padding: 15px 20px; 
  }

  .header_2 ul li a
  {

  }

  .header_2 ul li a:hover, .header_2 ul .active a
  {
    color: white;
    border-bottom: 3px solid #b22d12;
    padding: 10px 0 10px 0;
  }


  /*      posts  */
  .p_2 {
    display: none;
  }
  .content_l_moreposts
  {
    -webkit-box-shadow: 8px 8px 27px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 8px 8px 27px 0px rgba(0,0,0,0.35);
    box-shadow: 8px 8px 27px 0px rgba(0,0,0,0.35);
  }





  /*      side bar    */
  .cnt_r_best_3 {
    width: 100%;
    background: #dddddd;
  }
  .cnt_r_best_3_1_1 {
    padding: 9px 0;
    width: 73%;
    margin: 0 auto 0;
    font-weight: 600;
    text-align: center;
    font-size: 12px;
  }

  .cnt_r_best
  {
    -webkit-box-shadow: 8px 8px 27px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 8px 8px 27px 0px rgba(0,0,0,0.35);
    box-shadow: 8px 8px 27px 0px rgba(0,0,0,0.35);
    
  }
  .cnt_r_top_3_1_1 
  {
    margin: 15px 0px 15px 13%;
  }
  .cnt_r_top_3_1_2 {
    margin: 0 0 0 5px;
  }
  .cnt_r_top 
  {
    -webkit-box-shadow: 8px 8px 27px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 8px 8px 27px 0px rgba(0,0,0,0.35);
    box-shadow: 8px 8px 27px 0px rgba(0,0,0,0.35);
  }
  .cnt_r_part 
  {
    -webkit-box-shadow: 8px 8px 27px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 8px 8px 27px 0px rgba(0,0,0,0.35);
    box-shadow: 8px 8px 27px 0px rgba(0,0,0,0.35);
    margin: 0 0 65px 0;
  }

  .cnt_r_part_3 a {
    background: #93c325;
    color: white;
    position: relative;
    padding: 15px 40px;
    width: 50%;
    font-weight: 800;
    margin: 0px auto 0;
    font-size: 14px;
    text-align: center;
    display: block;
  }
  .cnt_r_part_3 div {
    width: 80%;
    text-align: center;
    font-size: 14px;
    margin: 0 auto 0;
    padding: 17px 0;
  }
  /*        FOOTER        */
  .footer_1_1 li{
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    margin: 15px;
  }
  .footer_1_1 li:last-child 
  {
    margin: 0;
  }

  .footer_1>div {
    width: 315px;
    margin: 20px auto 0;
    padding: 0px 0 0 0;
  }
  
  .footer_1_2 li {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    margin: 0;
  }

  .footer_1 footer {
    color: #b2b1b1;
    padding: 0px 0 15px 0;
  }

  .footer_button img
  {
    background: #93c325;
    border-radius: 100%;
    padding: 9px;
    height: 17px;
  }
  .footer_button
  {
    margin: -25px 0 0 0px;
    text-align: right;
    position: absolute;
    right: 45%;
  }

}


@media only screen and (min-width: 601px) and (max-width: 750px){
  body 
  {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #2f2f2f;
    background: #f4f5f6;
  }

  .content
  {
    width: 100%;
    margin: 30px auto 0; 
    padding: 0;
  }
  .content_l 
  {
    width: 90%;
    display: block;
    margin: 0 auto 0;
    padding: 0;
    vertical-align: top;
  }
  .posts_width {
    width: 90%;
    margin: 0 auto 30px;
  }
  .recomendation_all
  {
    text-align: center;
  }
  .recomendation_block,.recomendation_block2
  {
    margin: 0 0px 10px 0px;
  }
  .content_r 
  {
    display: block;
    margin: 0 auto 0;
    padding: 0;
    vertical-align: top;
    width: 70%;
  }
  .cnt_r_part_3_clr
  {
   padding: 10px;
  }
  .footer_1_1, .footer_1_2 
  {
    display: block;
  }
  /*    HEADER        */

  .header_2 ul {
    margin: 0 auto 0;
    display: none;
    width: 100%;
  }

  .header_2 ul li, .header_2 ul li:last-child
  {
    list-style: none;
    display: block;
    color: #c4d9a3;
    font-size: 18px;
    font-family: 'Open Sans';
    padding: 8px 0 13px 20px;
    text-transform: uppercase;
    margin: 0;
  }


  .header_2_mobile_menu{ 
      display: block;
      padding: 0 0 0 0;
      cursor: pointer;
  }
  .header_2_mobile_menu img
  {
      padding: 15px 20px; 
  }

  .header_2 ul li a
  {

  }

  .header_2 ul li a:hover, .header_2 ul .active a
  {
    color: white;
    border-bottom: 3px solid #b22d12;
    padding: 10px 0 10px 0;
  }


  /*      posts  */
  .p_2 {
    display: none;
  }
  .content_l_moreposts
  {
    -webkit-box-shadow: 8px 8px 27px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 8px 8px 27px 0px rgba(0,0,0,0.35);
    box-shadow: 8px 8px 27px 0px rgba(0,0,0,0.35);
  }





  /*      side bar    */
  .cnt_r_best_3 {
    width: 100%;
    background: #dddddd;
  }
  .cnt_r_best_3_1_1 {
    padding: 9px 0;
    width: 73%;
    margin: 0 auto 0;
    font-weight: 600;
    text-align: center;
    font-size: 12px;
  }
  .cnt_r_top_3_1_2 {
    margin: 0 0 0 5px;
  }

  .cnt_r_best
  {
    -webkit-box-shadow: 8px 8px 27px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 8px 8px 27px 0px rgba(0,0,0,0.35);
    box-shadow: 8px 8px 27px 0px rgba(0,0,0,0.35);
    
  }
  .cnt_r_top_3_1_1 
  {
    margin: 15px 0px 15px 13%;
  }

  .cnt_r_top 
  {
    -webkit-box-shadow: 8px 8px 27px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 8px 8px 27px 0px rgba(0,0,0,0.35);
    box-shadow: 8px 8px 27px 0px rgba(0,0,0,0.35);
  }
  .cnt_r_part 
  {
    -webkit-box-shadow: 8px 8px 27px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 8px 8px 27px 0px rgba(0,0,0,0.35);
    box-shadow: 8px 8px 27px 0px rgba(0,0,0,0.35);
    margin: 0 0 65px 0;
  }

  .cnt_r_part_3 a {
    background: #93c325;
    color: white;
    position: relative;
    padding: 15px 40px;
    width: 50%;
    margin: 0px auto 0;
    font-size: 14px;
    text-align: center;
    display: block;
  }
  .cnt_r_part_3 div {
    width: 80%;
    text-align: center;
    font-size: 14px;
    margin: 0 auto 0;
    padding: 17px 0;
  }
  /*        FOOTER        */
  .footer_1_1 li{
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    margin: 15px;
  }
  .footer_1_1 li:last-child 
  {
    margin: 0;
  }

  .footer_1>div {
    width: 315px;
    margin: 20px auto 0;
    padding: 0px 0 0 0;
  }
  
  .footer_1_2 li {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    margin: 0;
  }

  .footer_1 footer {
    color: #b2b1b1;
    padding: 0px 0 15px 0;
  }

  .footer_button img
  {
    background: #93c325;
    border-radius: 100%;
    padding: 9px;
    height: 17px;
  }
  .footer_button
  {
    margin: -25px 0 0 0px;
    text-align: right;
    position: absolute;
    right: 45%;
  }

}

@media only screen and (min-width: 401px) and (max-width: 600px){
  body 
  {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #2f2f2f;
    background: #f4f5f6;
  }
  .content
  {
    width: 100%;
    margin: 30px auto 0; 
    padding: 0;
  }
  .content_l 
  {
    width: 90%;
    display: block;
    margin: 0 auto 0;
    padding: 0;
    vertical-align: top;
  }
  .posts_width {
    width: 90%;
    margin: 0 auto 30px;
  }
  .cnt_r_part_3_clr
  {
   padding: 10px;
  }
  .content_r 
  {
    display: block;
    margin: 0 auto 0;
    padding: 0;
    vertical-align: top;
    width: 70%;
  }
  .recomendation_all
  {
    text-align: center;
  }
  .recomendation_block,.recomendation_block2
  {
    margin: 0 0px 10px 0px;
  }
  .footer_1_1, .footer_1_2 
  {
    display: block;
  }
  /*    HEADER        */

  .header_2 ul {
    margin: 0 auto 0;
    display: none;
    width: 100%;
  }

  .header_2 ul li, .header_2 ul li:last-child
  {
    list-style: none;
    display: block;
    color: #c4d9a3;
    font-size: 18px;
    font-family: 'Open Sans';
    padding: 8px 0 13px 20px;
    text-transform: uppercase;
    margin: 0;
  }


  .header_2_mobile_menu{ 
      display: block;
      padding: 0 0 0 0;
      cursor: pointer;
  }
  .header_2_mobile_menu img
  {
      padding: 15px 20px; 
  }

  .header_2 ul li a
  {

  }

  .header_2 ul li a:hover, .header_2 ul .active a
  {
    color: white;
    border-bottom: 3px solid #b22d12;
    padding: 10px 0 10px 0;
  }


  /*      posts  */
  .p_2 {
    display: none;
  }
  .content_l_moreposts
  {
    -webkit-box-shadow: 8px 8px 27px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 8px 8px 27px 0px rgba(0,0,0,0.35);
    box-shadow: 8px 8px 27px 0px rgba(0,0,0,0.35);
  }





  /*      side bar    */
  .cnt_r_best_3 {
    width: 100%;
    background: #dddddd;
  }
  .cnt_r_best_3_1_1 {
    padding: 9px 0;
    width: 73%;
    margin: 0 auto 0;
    font-weight: 600;
    text-align: center;
    font-size: 12px;
  }

  .cnt_r_best
  {
    -webkit-box-shadow: 8px 8px 27px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 8px 8px 27px 0px rgba(0,0,0,0.35);
    box-shadow: 8px 8px 27px 0px rgba(0,0,0,0.35);
    
  }
  .cnt_r_top_3_1_1 
  {
    margin: 15px 0px 15px 13%;
  }
  .cnt_r_top_3_1_2 {
    margin: 0 0 0 5px;
  }
  .cnt_r_top 
  {
    -webkit-box-shadow: 8px 8px 27px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 8px 8px 27px 0px rgba(0,0,0,0.35);
    box-shadow: 8px 8px 27px 0px rgba(0,0,0,0.35);
  }
  .cnt_r_part 
  {
    -webkit-box-shadow: 8px 8px 27px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 8px 8px 27px 0px rgba(0,0,0,0.35);
    box-shadow: 8px 8px 27px 0px rgba(0,0,0,0.35);
    margin: 0 0 65px 0;
  }

  .cnt_r_part_3 a {
    background: #93c325;
    color: white;
    position: relative;
    padding: 15px 40px;
    width: 50%;
    font-weight: 800;
    margin: 0px auto 0;
    font-size: 14px;
    text-align: center;
    display: block;
  }
  .cnt_r_part_3 div {
    width: 80%;
    text-align: center;
    font-size: 14px;
    margin: 0 auto 0;
    padding: 17px 0;
  }
  /*        FOOTER        */
  .footer_1_1 li{
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    margin: 15px;
  }
  .footer_1_1 li:last-child 
  {
    margin: 0;
  }

  .footer_1>div {
    width: 315px;
    margin: 20px auto 0;
    padding: 0px 0 0 0;
  }
  
  .footer_1_2 li {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    margin: 0;
  }

  .footer_1 footer {
    color: #b2b1b1;
    padding: 0px 0 15px 0;
  }

  .footer_button img
  {
    background: #93c325;
    border-radius: 100%;
    padding: 9px;
    height: 17px;
  }
  .footer_button
  {
    margin: -25px 0 0 0px;
    text-align: right;
    position: absolute;
    right: 45%;
  }

}

@media only screen and (min-width: 150px) and (max-width: 400px){
  body 
  {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #2f2f2f;
    background: #f4f5f6;
  }
  .content
  {
    width: 100%;
    margin: 30px auto 0; 
    padding: 0;
  }
  .content_l 
  {
    width: 90%;
    display: block;
    margin: 0 auto 0;
    padding: 0;
    vertical-align: top;
  }
  .posts_width {
    width: 90%;
    margin: 0 auto 30px;
  }
  .cnt_r_part_3_clr
  {
   padding: 10px;
  }
  .recomendation_all
  {
    text-align: center;
  }
  .recomendation_block,.recomendation_block2
  {
    margin: 0 0px 10px 0px;
  }
  .content_r 
  {
    display: block;
    margin: 0 auto 0;
    padding: 0;
    vertical-align: top;
    width: 70%;
  }

  .footer_1_1, .footer_1_2 
  {
    display: block;
  }
  /*    HEADER        */

  .header_2 ul {
    margin: 0 auto 0;
    display: none;
    width: 100%;
  }

  .header_2 ul li, .header_2 ul li:last-child
  {
    list-style: none;
    display: block;
    color: #c4d9a3;
    font-size: 18px;
    font-family: 'Open Sans';
    padding: 8px 0 13px 20px;
    text-transform: uppercase;
    margin: 0;
  }


  .header_2_mobile_menu{ 
      display: block;
      padding: 0 0 0 0;
      cursor: pointer;
  }
  .header_2_mobile_menu img
  {
      padding: 15px 20px; 
  }

  .header_2 ul li a
  {

  }

  .header_2 ul li a:hover, .header_2 ul .active a
  {
    color: white;
    border-bottom: 3px solid #b22d12;
    padding: 10px 0 10px 0;
  }


  /*      posts  */
  .p_2 {
    display: none;
  }
  .content_l_moreposts
  {
    -webkit-box-shadow: 8px 8px 27px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 8px 8px 27px 0px rgba(0,0,0,0.35);
    box-shadow: 8px 8px 27px 0px rgba(0,0,0,0.35);
  }





  /*      side bar    */
  .cnt_r_best_3 {
    width: 100%;
    background: #dddddd;
  }
  .cnt_r_best_3_1_1 {
    padding: 9px 0;
    width: 73%;
    margin: 0 auto 0;
    font-weight: 600;
    text-align: center;
    font-size: 12px;
  }

  .cnt_r_best
  {
    -webkit-box-shadow: 8px 8px 27px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 8px 8px 27px 0px rgba(0,0,0,0.35);
    box-shadow: 8px 8px 27px 0px rgba(0,0,0,0.35);
    
  }
  .cnt_r_top_3_1_1 
  {
    margin: 15px 0px 15px 1%;
  }
  .cnt_r_top_3_1_2 {
    margin: 0 0 0 5px;
  }
  .cnt_r_top 
  {
    -webkit-box-shadow: 8px 8px 27px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 8px 8px 27px 0px rgba(0,0,0,0.35);
    box-shadow: 8px 8px 27px 0px rgba(0,0,0,0.35);
  }
  .cnt_r_part 
  {
    -webkit-box-shadow: 8px 8px 27px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 8px 8px 27px 0px rgba(0,0,0,0.35);
    box-shadow: 8px 8px 27px 0px rgba(0,0,0,0.35);
    margin: 0 0 65px 0;
  }

  .cnt_r_part_3 a {
    background: #93c325;
    color: white;
    position: relative;
    padding: 15px 40px;
    width: 50%;
    font-weight: 800;
    margin: 0px auto 0;
    font-size: 14px;
    text-align: center;
    display: block;
  }
  .cnt_r_part_3 div {
    width: 80%;
    text-align: center;
    font-size: 14px;
    margin: 0 auto 0;
    padding: 17px 0;
  }
  /*        FOOTER        */
  .footer_1_1 li{
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    margin: 15px;
  }
  .footer_1_1 li:last-child 
  {
    margin: 0;
  }

  .footer_1>div {
    width: 315px;
    margin: 20px auto 0;
    padding: 0px 0 0 0;
  }
  
  .footer_1_2 li {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    margin: 0;
  }

  .footer_1 footer {
    color: #b2b1b1;
    padding: 0px 0 15px 0;
  }

  .footer_button img
  {
    background: #93c325;
    border-radius: 100%;
    padding: 9px;
    height: 17px;
  }
  .footer_button
  {
    margin: -25px 0 0 0px;
    text-align: right;
    position: absolute;
    right: 45%;
  }

}